<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <!--<add name="B2C_ACC" connectionString="Data Source=.\SQL2012;Initial Catalog=UMAX_ODS_ACC;Integrated Security=true;Connection Timeout=120" providerName="System.Data.SqlClient"/>-->
    <add name="B2C_PRD" connectionString="Data Source=.\SQL2012;Initial Catalog=UMAX_ODS_PRD;Integrated Security=true;Connection Timeout=120" providerName="System.Data.SqlClient"/>
    <!--<add name="B2B_ACC" connectionString="Data Source=.\SQL2012;Initial Catalog=ABP_ODS_ACC;Integrated Security=true;Connection Timeout=120" providerName="System.Data.SqlClient"/>-->
    <add name="B2B_PRD" connectionString="Data Source=.\SQL2012;Initial Catalog=ABP_PRD_ODS;Integrated Security=true;Connection Timeout=120" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
